@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600&display=swap');


html {
    overflow-x: hidden;
}

body {
    background-color: #fbf3f5;
}

.container-2 {
    margin-top: 4%;
    margin-left: 5%;
}

.card {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
    text-transform: uppercase;
    margin-top: 3%;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    border-bottom: 1px solid #373737;
    width: 60%;
}

button {
    background: none;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    border: none;
    font-size: 35px;
    transition: 0.5s;
    color: #373737;


}

button:hover {
    color: #6e6e6e;
}

.card-body {
    background-color: whitesmoke;
}

.read-more {
    border: 1px solid #252525;
    padding: 8px;
    font-size: 16px;
    width: 10em;
    margin: 1em;
}

p {
    font-family: 'Fraunces', serif;
    font-weight: 300;
}

.subtext {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;

}